- if user_signed_in?
  %h5.center
    %i.material-icons.red-text.small create_new_folder
    %span.red.white-text.padding2.radius4 "Services"
  %h6.center.title やめTAP対応サービス一覧
  %blockquote.format

%ul.collection.with-header
  - @services.each do |service|
    .card.row.grid-1
      .card-content
        %span.card-title.activator.grey-text.text-darken-4
          =link_to "/services/#{service.id}" , method: :get do
            = image_tag "/#{service.id}.jpg", size: "30x30", class: "left marginleft30"
            %span.marginleft30.fontsize15
              #{service.service_name}