- if user_signed_in?
  %h5.center
    %i.material-icons.red-text.small directions_walk
    %span.red.white-text "Services"
  %h6.center.title SmaTra対応サービス一覧
  %blockquote.format



%ul.collection.with-header
  %li.collection-header
    %h4 
  - @services.each do |service|
    %li.collection-item 
      =link_to "/services/#{service.id}" , method: :get do
        #{service.service_name}


