- if user_signed_in?
  %h5.center
    %i.material-icons.red-text.small directions_walk
    %span.red.white-text "Services"
  %h6.center.title SmaTra対応サービス一覧
  %blockquote.format

  
  - @services.each do |service|
    %p #{service.service_name}

 

