- if user_signed_in?
  %h5.center
    %i.material-icons.red-text.small directions_walk
    %span.red.white-text "Your Subscription"
  %h6.center.title 契約中のサブスクリプション
  %blockquote.format

  - @subscriptions.each do |subscription|
    %li.collection-item 
      =link_to "/subscriptions/#{subscription.id}" , method: :get do
        #{subscription.service.service_name}
    %li.collection-item 
      in_useカラム　#{subscription.in_use}


%a.waves-effect.waves-light.btn button
%a.waves-effect.waves-light.btn
  %i.material-icons.left> cloud
  button
%a.waves-effect.waves-light.btn
  %i.material-icons.right> cloud
  button
