.bottomnav {
  .mobile-bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
    
    will-change:transform;
    transform: translateZ(0);
    
    display:flex;	
    
    height:80px;
    
    box-shadow: 0 -2px 5px -2px #333;
    background-color:#fff;
    
    &__item{
      flex-grow:1;
      text-align:center;
      font-size:12px;
      color: gray;
      width: calc(100vw / 3);

      
      display:flex;
      flex-direction:column;
      justify-content:center;
    }
    &__item--active{
      color:red;
    }
    &__item-content{ 
      display:flex;
      flex-direction:column;	
      .height20 {
        height: 20px;
      }

    }
  }
}
.marginbottom30 {
  height: 10px;
  margin-bottom: 30px;
}
